@font-face {
    font-family: 'gotham';
	src: url('../fonts/gotham/Gotham-Black.eot?') format('eot'), 
	     url('../fonts/gotham/Gotham-Black.otf')  format('opentype'),
	     url('../fonts/gotham/Gotham-Black.woff') format('woff'), 
	     url('../fonts/gotham/Gotham-Black.ttf')  format('truetype'),
	     url('../fonts/gotham/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/gotham/Gotham-Thin.eot?') format('eot'), 
	     url('../fonts/gotham/Gotham-Thin.otf')  format('opentype'),
	     url('../fonts/gotham/Gotham-Thin.woff') format('woff'), 
	     url('../fonts/gotham/Gotham-Thin.ttf')  format('truetype'),
	     url('../fonts/gotham/Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

body {
	text-align: center;
	
}
.main-content{
    /*background-image: url('../images/img_1.jpg') ;*/
    background-repeat:	no-repeat;
	background-position:center top;
	background-attachment: fixed;
}
.wrapper {
	background: none;
	margin:0 auto ;
    width:100% ;
	float:left ;
		
}
.bg-top{	
	width: 100%;
	height: 720px;
	position: absolute;
	top:0;
	left: 0;
	z-index: -1;
}
a{
	outline: none;
}
img{	
	height: auto;
	max-width: 100%;
}
a:hover,a:focus{
	outline: none;
	text-decoration: none;
}
.logo{
	padding: 30px 0 0; margin-top: 100px;
}
.buy {
    margin: 25px 0;
}
.text-center.buy h2{text-transform:uppercase;margin: 0 0 20px; font-size: 20px; color: #fff}
 .btn-buy.custom-buy {border-color: #ff5555;
     background: none repeat scroll 0 0 #ff5555;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 30px;
    text-transform: uppercase;
}
 .btn-buy.custom-buy:hover {
}
header{ background-image: url('../images/bg-head.jpg'); padding: 50px 0 100px 0;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;}
/*header:after{content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, 0.9)}*/
.title{margin-bottom: 80px}
.mt0{margin-top: 0}
.heading-title {
    color: #333333;
    margin: 50px 0;
    text-transform: uppercase;
}
.text_heading{
	font-family: 'gotham';
	font-weight: 100;
	font-size: 60px;
	color: #fff;
}
.shop-name{
    margin: 0 0 100px;
	font-weight: 900;
	font-size: 15px;
	color: #333;
	text-transform: uppercase;
	display: block;
	text-align: center;
}
.image-bg{
	background-image: url('../images/bg-macbook.png'); width: 350px;height:333px;display:inline-block;position: relative;
}
.icon-new {
    background-color: #d6644a;
    border-radius: 50%;
	 -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #ffffff;
    font-size: 200%;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    position: absolute;
    right: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
	top:-35px;
	z-index:9 ;
	font-family: 'gotham';
}

.image-bg .image-shop-scroll{
	background-position: center 0;
	background-repeat: no-repeat;
	position:absolute;width:322px;height:192px;top:14px;left:14px;
}
.image-bg .image-shop-scroll.image-shop-scroll-5{
	background-color: #333333;
    opacity: 0.2; 
}
.image-bg .glare{
	/*background: url('../images/glare.png') center 0 no-repeat;position:absolute;width:250px;height:300px;top:10px;right:59px;*/
}
.image-bg .image-shop-scroll{
	transition: all 5s ease-out 0s;
	-webkit-transition: all 5s ease-out 0s;
	-moz-transition: all 5s ease-out 0s;
	-ms-transition: all 5s ease-out 0s;
	-o-transition: all 5s ease-out 0s;
}
.image-bg:hover .image-shop-scroll{
	background-position: center 100%!important;
}
.link:hover .shop-name{
	color: #ff4f4f!important;
}
.footer {
    background-color: #191919;
    padding: 60px 0;
	color: #6a6a6a;
}
.footer address {
    margin: 0;
}
a {
    color: #ff4f4f;
    outline: medium none;
}
a:hover, a:focus {
    color: #ff4f4f;
    outline: medium none;
    text-decoration: none;
}
/*$media (max-width: 480px) */
@media (max-width: 480px) {
	.text_heading { font-size: 40px;}
	.image-bg {
	    background-size: 320px 220px;
	    height: 220px;
	    margin-left: -20px;
	    width: 320px;
	}

	.image-bg .image-shop-scroll {
	    background-position: center 0;
	    background-repeat: no-repeat;
	    height: 159px;
	    left: 54px;
	    position: absolute;
	    top: 26px;
	    width: 215px;
	}
	.glare { display: none;}

}

